body{

    background-color: lightgray;
 
 }
 
  
 
 i{
 
     color: rgba(0,47,255,0.904);
 
 }
 
  
 
 span{
 
     font-size:12px;
 
 }
 
  
 
 .insidebox{
 
     background-color:whitesmoke;
 
     padding: 60px 10px;
 
     margin: 30px 1px;
 
 }
 
  
 
 a{
 
     border-bottom: 1px solid blue
 
 }
 
 .text{
 
     margin: 10px 0
 
 }
 
 .box{
 
     padding: 50px 0px
 
 }